<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss} [%t] %logger{36} - %msg%n" charset="UTF-8"/>
        </Console>
        <Console name="Console-short" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] - %msg%n" charset="UTF-8"/>
        </Console>
        <File name="File" fileName="logs/main.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss} [%t] %logger{36} - %msg%n"/>
        </File>
        <File name="Likes" fileName="logs/likes.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            <PatternLayout pattern="- %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
        </Root>
        <Logger name="ru.thevalidator.daivinchikmatcher.service.Task" level="info" additivity="true">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Likes"/>
            <!--<AppenderRef ref="Console"/>-->
        </Logger>
        <Logger name="ru.thevalidator.daivinchikmatcher.handler.impl.HandlerImpl" level="info" additivity="false">
            <AppenderRef ref="Console-short"/>
        </Logger>
<!--        <Logger name="ru.thevalidator.daivinchikmatcher.gui.AppWindow" level="error" additivity="false">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Logger>-->
    </Loggers>
</Configuration>